export(areaGraphOutput)
export(gaugeOutput)
export(gridster)
export(gridsterItem)
export(htmlWidgetOutput)
export(lineGraphOutput)
export(renderGauge)
export(renderWeather)
export(sendGraphData)
export(weatherWidgetOutput)
importFrom(XML,xmlAttrs)
importFrom(XML,xmlRoot)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(shiny,validateCssUnit)
